.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: inherit;
	overflow: hidden;
	background-color: transparent;
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: all;
	padding: 0.5em 0.75em;
	line-height: 1.5;
	border-width: 0;
	border-radius: var(--border-radius);
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: none;

	&:hover {
		box-shadow: inset 0 0 0 20rem var(--color-frost-2);
		transition-duration: var(--transition-time-out);
		transition-timing-function: var(--animation-curve-out);
	}

	&:focus,
	&:active,
	&.is-active {
		box-shadow: inset 0 0 0 20rem var(--color-frost-1);
		outline: 0;
	}
}

a.btn:hover,
a.button:hover {
	color: inherit;
}
