
/* ==========================================================================
	HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/
   Print styles.
   ========================================================================== */

@media print {
	html {
		font-size: 12pt;
		-ms-overflow-style: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	body {
		font-family: var(--root-font-family);
		color: #000 !important;
		font-size: 12pt;
	}

	*,
	*:before,
	*:after,
	p:first-letter,
	div:first-letter,
	blockquote:first-letter,
	li:first-letter,
	p:first-line,
	div:first-line,
	blockquote:first-line,
	li:first-line {
		background: transparent !important;
		/*color: #000 !important;*/
		box-shadow: none !important;
		text-shadow: none !important;
	}

	nav,
	#header,
	#footer {
		display: none;
	}

	#page a {
		text-decoration: underline;
		border-radius: 0;
		opacity: 1;
		overflow: visible;
	}

	#page li a[href]:after,
	#page p a[href]:after {
		content: " (" attr(href) ")";
		color: var(--color-links-hover);
		opacity: 1;
		font-size: 11pt;
		font-style: italic;
		font-weight: normal;
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	* Printing Tables:
	* http://css-discuss.incutio.com/wiki/Printing_Tables
	*/

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	#page h1,
	#page h2,
	#page h3,
	#page h4,
	#page h5 {
		font-weight: bold;
		padding: 0;
		font-family: var(--display-font-family);
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	h1 + p,
	h2 + p,
	h3 + p {
		page-break-before: avoid;
	}

	#page h1 {
	    font-size: 2em;
	    margin: 0.67em 0;
	}

	#page h2 {
	    font-size: 1.5em;
	    margin: 0.83em 0;
	}

	#page h3 {
	    font-size: 1.17em;
	    margin: 1em 0;
	}

	#page h4 {
	    font-size: 1em;
	    margin: 1.33em 0;
	}

	#page h5 {
	    font-size: 0.83em;
	    margin: 1.67em 0;
	}

	#page h6 {
	    font-size: 0.67em;
	    margin: 2.33em 0;
	}

	.archive-header {
		padding: 0!important;
	}
	.archive-title {
		display: inline-block!important;
		margin-top: 0!important;
		line-height: 1!important;
	}

	table,
	figure {
		page-break-inside: avoid;
	}
}

@page  {
	size: letter;
	margin: 36pt;
}
