.home #header.is-top {
	.menu-main-container,
	> .menu-primary {
		background-color: transparent;
	}
}

#menu-primary .menu-main-container {
	background-color: transparent;
}

.menu-toggle {
	display: none;
}

.menu-primary ul {
	display: flex;
}
