.animating {
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	/*animation-fill-mode: both;
    backface-visibility: hidden;*/
}

.fadeIn {
	opacity: 0;
	transition-property: opacity;
}

.fadeIn.animating {
	opacity: 1;
}

.fadeInDown {
	opacity: 0;
	transform: translateY(-100%);
	transition-property: transform, opacity;
}

.fadeInDown.animating {
	transform: translateY(0);
	opacity: 1;
}

.fadeOutUp {
	opacity: 1;
	transform: translateY(0);
	transition-property: transform, opacity;
}

.fadeOutUp.animating {
	opacity: 0;
	transform: translateY(-100%);
}
