/* https://palx.jxnblk.com/2980b9
*  ─────────────────────────────────── */

$base: #2980b9;
$black: #212629;
$gray0: #f8f9f9;
$gray1: #ebedef;
$gray2: #dde1e3;
$gray3: #ced3d7;
$gray4: #bdc4c9;
$gray5: #abb4ba;
$gray6: #96a1a8;
$gray7: #7c8b94;
$gray8: #5e6e78;
$gray9: #374046;
$blue0: #e7f1f7;
$blue1: #cce1ee;
$blue2: #aed0e4;
$blue3: #8cbcd9;
$blue4: #62a3cb;
$blue5: #2982b9;
$blue6: #2475a6;
$blue7: #206691;
$blue8: #1a5478;
$blue9: #123b54;
$indigo0: #eaecf8;
$indigo1: #d3d7f0;
$indigo2: #b9bfe8;
$indigo3: #9aa2dd;
$indigo4: #707cd0;
$indigo5: #293ab9;
$indigo6: #2434a5;
$indigo7: #1f2d8f;
$indigo8: #192474;
$indigo9: #11194f;
$violet0: #efeaf8;
$violet1: #dfd4f0;
$violet2: #cbbae8;
$violet3: #b49ade;
$violet4: #9571d0;
$violet5: #6029b9;
$violet6: #5624a6;
$violet7: #4a1f90;
$violet8: #3c1a75;
$violet9: #291150;
$fuschia0: #f6eaf8;
$fuschia1: #edd3f0;
$fuschia2: #e2b8e8;
$fuschia3: #d599dd;
$fuschia4: #c46fd0;
$fuschia5: #a829b9;
$fuschia6: #9724a6;
$fuschia7: #842091;
$fuschia8: #6c1a77;
$fuschia9: #4c1254;
$pink0: #f8eaf3;
$pink1: #f0d3e5;
$pink2: #e8b9d6;
$pink3: #dd99c3;
$pink4: #d06fab;
$pink5: #b92982;
$pink6: #a62475;
$pink7: #912066;
$pink8: #781a54;
$pink9: #54123b;
$red0: #f8eaec;
$red1: #f0d4d7;
$red2: #e8b9bf;
$red3: #de9aa2;
$red4: #d0717c;
$red5: #b9293a;
$red6: #a62434;
$red7: #91202d;
$red8: #771a25;
$red9: #54121a;
$orange0: #f7ede7;
$orange1: #eedacd;
$orange2: #e5c4af;
$orange3: #d9aa8d;
$orange4: #cc8b63;
$orange5: #b96029;
$orange6: #a65624;
$orange7: #914b20;
$orange8: #773e1a;
$orange9: #542b12;
$yellow0: #f5f3e3;
$yellow1: #ece7c5;
$yellow2: #e1daa5;
$yellow3: #d5cb81;
$yellow4: #c8bb58;
$yellow5: #b9a829;
$yellow6: #a79725;
$yellow7: #928520;
$yellow8: #796e1a;
$yellow9: #574f13;
$lime0: #eff6e3;
$lime1: #ddecc6;
$lime2: #cbe1a6;
$lime3: #b6d682;
$lime4: #9ec859;
$lime5: #82b929;
$lime6: #75a725;
$lime7: #679220;
$lime8: #55791a;
$lime9: #3d5713;
$green0: #e8f6e6;
$green1: #ceedca;
$green2: #b2e3ab;
$green3: #92d888;
$green4: #6bca5e;
$green5: #3ab929;
$green6: #34a725;
$green7: #2d9220;
$green8: #26791a;
$green9: #1b5713;
$teal0: #e6f6ec;
$teal1: #caedd8;
$teal2: #abe3c1;
$teal3: #88d8a7;
$teal4: #5eca87;
$teal5: #29b960;
$teal6: #25a756;
$teal7: #20924c;
$teal8: #1a793f;
$teal9: #13572d;
$cyan0: #e5f6f4;
$cyan1: #c9ede9;
$cyan2: #aae3dc;
$cyan3: #87d7ce;
$cyan4: #5dcabd;
$cyan5: #29b9a8;
$cyan6: #25a797;
$cyan7: #209285;
$cyan8: #1a796e;
$cyan9: #13574f;
