/* Custom media queries */
@custom-media --xs (max-width: 20rem);

@custom-media --sm (min-width: 21rem);

@custom-media --md (min-width: 40rem);

@custom-media --lg (min-width: 64rem);

@custom-media --xl (min-width: 90rem);

/* global vars */
:root {
	--root-color: var(--color-text);
	--root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", "Helvetica Neue", sans-serif;
	--display-font-family: "Liberation Serif", "Times", "Times New Roman", serif;
	--min-font-size: 0.95rem;
	--max-font-size: 1.125rem;
	--root-font-size: 1rem;
	--root-line-height: 1.6;
	--form-element-background-color: var(--color-frost-4);
	--form-element-min-height: 2.5rem;
	--monospace-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	--paragraph-width: 64rem;
	--container: 70rem;
	--container-wide: 80rem;
	--h0: 4.4rem;
	--h1: 3rem;
	--h2: 2.5rem;
	--h3: 2rem;
	--h4: 1.25rem;
	--h5: 1.125rem;
	--h6: 0.9rem;
	--h0-mobile: 2.5rem;
	--h1-mobile: 2rem;
	--h2-mobile: 1.75rem;
	--h3-mobile: 1.5rem;
	--h0-fluid: calc(var(--h0-mobile) + (4.4 - 2.5) * (100vw - 20rem) / (92 - 20));
	--h1-fluid: calc(var(--h1-mobile) + (3 - 2) * (100vw - 20rem) / (92 - 20));
	--h2-fluid: calc(var(--h2-mobile) + (2.5 - 1.75) * (100vw - 20rem) / (92 - 20));
	--h3-fluid: calc(var(--h3-mobile) + (2 - 1.5) * (100vw - 20rem) / (92 - 20));
	--mq-xs: 20rem;
	--mq-sm: 21rem;
	--mq-md: 40rem;
	--mq-lg: 64rem;
	--mq-xl: 90rem;
	--fluid-font: calc(var(--min-font-size) + (strip(var(--max-font-size)) - strip(var(--min-font-size))) * ((100vw - var(--mq-sm)) / (strip(var(--mq-xl)) - strip(var(--mq-sm)))));
	--space-05: 0.5rem;
	--space-1: 1rem;
	--space-15: 1.5rem;
	--space-2: 2rem;
	--space-25: 2.5rem;
	--space-3: 3rem;
	--space-4: 4rem;
	--space-5: 5rem;
	--gutter: var(--base-space);
	--gutter-half: 0.75rem;
	--gutter-mobile: var(--space-1);
	--base-space: var(--space-15);
	--font-light: 300;
	--font-normal: 400;
	--font-bold: 600;
	--border-radius: 0.2rem;
	--transition-time: 0.16s;
	--transition-time-out: 0.2s;
	--animation-curve: cubic-bezier(0.4, 0, 1, 1);
	--animation-curve-out: cubic-bezier(0, 0, 0.2, 1);
	--opacity: 0.7;

	/* Grey */
	--white: #fff;
	--silver: var(--gray0);
	--grey: var(--gray3);
	--blue-grey: #678695;
	--grey-nuetral: #90a4ae;
	//--black: #000;
	--color-info: var(--blue4);
	--color-info-light: var(--blue1);
	--color-info-dark: var(--blue9);
	--color-success: var(--teal4);
	--color-success-light: var(--teal1);
	--color-success-dark: var(--teal8);
	--color-warning: var(--red5);
	--color-warning-light: var(--red1);
	--color-warning-dark: var(--red9);
	--color-1: var(--blue5);
	--color-1-light: var(--blue3);
	--color-1-dark: var(--blue7);
	--color-2: var(--teal5);
	--color-2-light: var(--teal3);
	--color-2-dark: var(--teal7);
	--color-links: var(--indigo7);
	--color-links-hover: var(--indigo5);
	--color-text: var(--black);
	--color-text-light: var(--gray7);
	--color-text-dark: #121516;
	--color-grey-bg: var(--gray1);
	--color-grey-bg-light: var(--gray0);
	--color-grey-bg-dark: var(--gray2);
	--color-grey-ui: var(--gray4);
	--color-grey-ui-light: var(--gray3);
	--color-grey-ui-dark: var(--gray5);
	--color-grey-char: var(--gray8);
	--color-grey-char-light: var(--gray7);
	--color-grey-char-dark: var(--gray9);
	--color-frost-1: color(var(--color-grey-bg-light) a(0.15));
	--color-frost-2: color(var(--color-grey-bg-light) a(0.3));
	--color-frost-3: color(var(--color-grey-bg-light) a(0.5));
	--color-frost-4: color(var(--color-grey-bg-light) a(0.9));
	--color-shade-1: color(var(--color-grey-ui) a(0.15));
	--color-shade-2: color(var(--color-grey-ui) a(0.3));
	--color-shade-3: color(var(--color-grey-ui) a(0.5));
	--color-shade-4: color(var(--color-grey-ui) a(0.9));
	--color-tint-1: color(var(--color-grey-char-dark) a(0.15));
	--color-tint-2: color(var(--color-grey-char-dark) a(0.3));
	--color-tint-3: color(var(--color-grey-char-dark) a(0.5));
	--color-tint-4: color(var(--color-grey-char-dark) a(0.9));

	/* Box Shadows */
	--shadow-1: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	--shadow-2: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	--shadow-3: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	--shadow-4: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	--shadow-5: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
}
