/* Custom media queries */
@custom-media --xs (max-width: 20em);
@custom-media --sm (min-width: 21em);
@custom-media --md (min-width: 40em);
@custom-media --lg (min-width: 64em);
@custom-media --xl (min-width: 90em);

$h0: 3.5rem;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 0.9rem;

/* global vars */
:root {
	/* Fluid font = calc(minPX + (max - min) * ((100vw - sm-mqPX) / (xlMQ - sm-mq))) */
	--fluid-font: calc(
		var(--min-font-size) + (1.125 - 0.95) * ((100vw - 21rem) / (90 - 21))
	);
	--min-font-size: 0.95rem;
	--max-font-size: 1.125rem;

	--opacity: 0.7;
	--root-color: var(--color-text);
	--root-font-family: system-ui;
	--paragraph-width: 64rem;
	--container: 70rem;
	--container-wide: 80rem;
	--h0: 3.5rem;
	--h1: 2.5rem;
	--h2: 2rem;
	--h3: 1.75rem;
	--h4: 1.5rem;
	--h5: 1.25rem;
	--h6: 0.9rem;
	--space-05: 0.5rem;
	--space-1: 1rem;
	--space-15: 1.5rem;
	--space-2: 2rem;
	--space-25: 2.5rem;
	--space-3: 3rem;
	--space-4: 4rem;
	--space-5: 5rem;
	--gutter: var(--base-space);
	--gutter-half: 0.75rem;
	--gutter-mobile: var(--space-1);
	--base-space: var(--space-15);
	--color-1: $blue5;
	--color-1-light: $blue3;
	--color-1-dark: $blue7;
	--color-2: $teal5;
	--color-2-light: $teal3;
	--color-2-dark: $teal7;
	--transition-time: 0.16s;
	--transition-time-out: 0.2s;
	--animation-curve: cubic-bezier(0.4, 0, 1, 1);
	--animation-curve-out: cubic-bezier(0, 0, 0.2, 1);
}

$white: #fff;
$silver: $gray0;
$grey: $gray3;
$blue-grey: #678695;
$grey-nuetral: #90a4ae;

$color-info: $blue4;
$color-info-light: $blue1;
$color-info-dark: $blue9;
$color-success: $teal4;
$color-success-light: $teal1;
$color-success-dark: $teal8;
$color-warning: $red5;
$color-warning-light: $red1;
$color-warning-dark: $red9;
$color-1: $blue5;
$color-1-light: $blue3;
$color-1-dark: $blue7;
$color-2: $teal5;
$color-2-light: $teal3;
$color-2-dark: $teal7;
$color-links: $indigo7;
$color-links-hover: $indigo5;
$color-text: #212629;
$color-text-light: $gray7;
$color-text-dark: #121516;
$color-grey-bg: $gray1;
$color-grey-bg-light: $gray0;
$color-grey-bg-dark: $gray2;
$color-grey-ui: $gray4;
$color-grey-ui-light: $gray3;
$color-grey-ui-dark: $gray5;
$color-grey-char: $gray8;
$color-grey-char-light: $gray7;
$color-grey-char-dark: $gray9;
$color-frost-1: color-mod($color-grey-bg-light a(0.15));
$color-frost-2: color-mod($color-grey-bg-light a(0.3));
$color-frost-3: color-mod($color-grey-bg-light a(0.6));
$color-frost-4: color-mod($color-grey-bg-light a(0.9));
$color-shade-1: color-mod($color-grey-ui a(0.15));
$color-shade-2: color-mod($color-grey-ui a(0.3));
$color-shade-3: color-mod($color-grey-ui a(0.5));
$color-shade-4: color-mod($color-grey-ui a(0.9));
$color-tint-1: color-mod($color-grey-char-dark a(0.15));
$color-tint-2: color-mod($color-grey-char-dark a(0.3));
$color-tint-3: color-mod($color-grey-char-dark a(0.5));
$color-tint-4: color-mod($color-grey-char-dark a(0.9));

/* Box Shadows */
$shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
	0 1px 3px 0 rgba(0, 0, 0, 0.12);
$shadow-1: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 1px 5px 0 rgba(0, 0, 0, 0.12);
$shadow-2: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
	0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow-3: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
	0 1px 18px 0 rgba(0, 0, 0, 0.12);
$shadow-4: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
	0 3px 14px 2px rgba(0, 0, 0, 0.12);
$shadow-5: 0 9px 12px -6px rgba(0, 0, 0, 0.2),
	0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);

/* global vars */
$root-color: #212629;
$root-font-family: system-ui;
$display-font-family: "Liberation Serif", "Times", "Times New Roman", serif;
$form-element-background-color: $color-frost-4;
$form-element-min-height: 2.5rem;
$monospace-font-family: "SFMono-Regular", "Roboto Mono", Consolas, Menlo,
	Courier, monospace;
$paragraph-width: 64rem;
$container: 70rem;
$container-wide: 80rem;
$space-05: 0.5rem;
$space-1: 1rem;
$space-15: 1.5rem;
$space-2: 2rem;
$space-25: 2.5rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
$base-space: $space-15;
$gutter: $base-space;
$gutter-half: 0.75rem;
$gutter-mobile: $space-1;
$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$border-radius: 0.1rem;
$transition-time: 0.16s;
$transition-time-slow: 0.25s;
$animation-curve: cubic-bezier(0.4, 0, 1, 1);
$animation-base: cubic-bezier(0.4, 0, 0.2, 1);
$animation-enter: cubic-bezier(0, 0, 0.2, 1);
$animation-exit: cubic-bezier(0.4, 0, 1, 1);
$transition-time-out: 0.2s;
$animation-curve-out: cubic-bezier(0, 0, 0.2, 1);
$opacity: 0.7;
