

/* Custom media queries */
@custom-media --xs (max-width: 20rem);
@custom-media --sm (min-width: 21rem);
@custom-media --md (min-width: 40rem);
@custom-media --lg (min-width: 64rem);
@custom-media --xl (min-width: 90rem);

/* global vars */
:root {

	--root-color: var(--color-text);

	--root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", "Helvetica Neue", sans-serif;

	--display-font-family: "Liberation Serif", "Times", "Times New Roman", serif;

	--min-font-size: 0.95rem;

	--max-font-size: 1.125rem;

	--root-font-size: 1rem;

	--root-line-height: 1.6;

	--form-element-background-color: var(--color-frost-4);

	--form-element-color: var(--color-text);

	--form-element-min-height: 2.5rem;

	--monospace-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

	--paragraph-width: 64rem;
	--container: 74rem;
	--container-wide: 84rem;

	--h0: 4.4rem;
	--h1: 3rem;
	--h2: 2.5rem;
	--h3: 2rem;
	--h4: 1.25rem;
	--h5: 1.125rem;
	--h6: 0.9rem;

	--h0-mobile: 2.5rem;
	--h1-mobile: 2rem;
	--h2-mobile: 1.75rem;
	--h3-mobile: 1.5rem;

	--h0-fluid: calc(var(--h0-mobile) + (4.4 - 2.5) * (100vw - 20rem) / (92 - 20));
	--h1-fluid: calc(var(--h1-mobile) + (3 - 2) * (100vw - 20rem) / (92 - 20));
	--h2-fluid: calc(var(--h2-mobile) + (2.5 - 1.75) * (100vw - 20rem) / (92 - 20));
	--h3-fluid: calc(var(--h3-mobile) + (2 - 1.5) * (100vw - 20rem) / (92 - 20));

	--mq-xs: 20rem;
	--mq-sm: 21rem;
	--mq-md: 40rem;
	--mq-lg: 64rem;
	--mq-xl: 90rem;

	--fluid-font: calc(var(--min-font-size) + ( strip(var(--max-font-size)) - strip(var(--min-font-size)) ) * ((100vw - var(--mq-sm)) / (strip(var(--mq-xl)) - strip(var(--mq-sm)))));

	--space-05: 0.5rem;
	--space-1: 1rem;
	--space-15: 1.5rem;
	--space-2: 2rem;
	--space-25: 2.5rem;
	--space-3: 3rem;
	--space-4: 4rem;
	--space-5: 5rem;
	--gutter: var(--base-space);
	--gutter-mobile: var(--space-1);

	--base-space: var(--space-15);

	--font-light: 300;
	--font-normal: 400;
	--font-bold: 600;
	--border-radius: 0.2rem;

	--transition-time: 0.16s;
	--transition-time-out: 0.2s;
	--animation-curve: cubic-bezier(0.4, 0, 1, 1);
	--animation-curve-out: cubic-bezier(0, 0, 0.2, 1);

	--opacity: 0.7;

	/* Cool */
	--blue: var(--oc-blue-7);
	--navy: color(var(--oc-blue-9) lightness(-15%));
	--teal: var(--oc-cyan-6);

	--green: var(--oc-green-7);
	--olive: var(--oc-teal-7);
	--lime: var(--oc-lime-7);

	/* Warm */
	--yellow: var(--oc-yellow-4);
	--orange: var(--oc-orange-4);
	--red: var(--oc-red-7);
	--fuchsia: var(--oc-pink-7);
	--purple: var(--oc-grape-7);

	/* Grey */
	--white: #fff;
	--silver: var(--oc-gray-0);
	--grey: var(--oc-gray-4);
	--blue-grey: #678695;
	--grey-nuetral: #90a4ae;
	--black: #000;

	--color-info: var(--oc-blue-5);
	--color-info-light: var(--oc-blue-1);
	--color-info-dark: var(--oc-blue-9);

	--color-success: var(--oc-teal-5);
	--color-success-light: var(--oc-teal-1);
	--color-success-dark: var(--oc-teal-9);

	--color-warning: var(--oc-red-5);
	--color-warning-light: var(--oc-red-1);
	--color-warning-dark: var(--oc-red-9);


	--color-1: var(--oc-blue-7);
	--color-1-light: var(--oc-blue-5);
	--color-1-dark: var(--oc-blue-9);

	--color-2: var(--oc-teal-7);
	--color-2-light: var(--oc-teal-5);
	--color-2-dark: var(--oc-teal-9);

	--color-links: var(--oc-blue-9);
	--color-links-hover: var(--oc-blue-5);

	--color-text: var(--oc-gray-9);
	--color-text-light: var(--oc-gray-7);
	--color-text-dark: var(--black);

	--color-grey-bg: var(--oc-gray-1);
	--color-grey-bg-light: var(--oc-gray-0);
	--color-grey-bg-dark: var(--oc-gray-2);

	--color-grey-ui: var(--oc-gray-4);
	--color-grey-ui-light: var(--oc-gray-3);
	--color-grey-ui-dark: var(--oc-gray-5);

	--color-grey-char: var(--oc-gray-8);
	--color-grey-char-light: var(--oc-gray-7);
	--color-grey-char-dark: var(--oc-gray-9);

	--color-frost-1: color(var(--color-grey-bg-dark) a(0.15));
	--color-frost-2: color(var(--color-grey-bg-dark) a(0.3));
	--color-frost-3: color(var(--color-grey-bg-dark) a(0.5));
	--color-frost-4: color(var(--color-grey-bg-dark) a(0.9));

	--color-shade-1: color(var(--color-grey-ui) a(0.15));
	--color-shade-2: color(var(--color-grey-ui) a(0.3));
	--color-shade-3: color(var(--color-grey-ui) a(0.5));
	--color-shade-4: color(var(--color-grey-ui) a(0.9));

	--color-tint-1: color(var(--color-grey-char-dark) a(0.15));
	--color-tint-2: color(var(--color-grey-char-dark) a(0.3));
	--color-tint-3: color(var(--color-grey-char-dark) a(0.5));
	--color-tint-4: color(var(--color-grey-char-dark) a(0.9));

	/* Box Shadows */
	--shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	--shadow-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	--shadow-3: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	--shadow-4: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	--shadow-5: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);

}
