/* Custom media queries */
@custom-media --xs (width <= 20em);
@custom-media --sm (width >= 21em);
@custom-media --md (width >= 40em);
@custom-media --lg (width >= 64em);
@custom-media --xl (width >= 90em);

/* global vars */
:root {
	--base-space: $base-space;
	--gutter: calc(var(--base-space) * 1.5);

	--line-height: $line-height;
	--heading-line-height: $heading-line-height;

	--font-family: $font-family;
	--display-font-family: $display-font-family;
	--monospace-font-family: $monospace-font-family;

	--color-text: $color-text;
	--color-text-light: $color-text-light;
	--color-1: $color-1;
	--color-1-light: $color-1-light;
	--color-1-dark: $color-1-dark;
	--color-2: $color-2;
	--color-2-light: $color-2-light;
	--color-2-dark: $color-2-dark;

	--opacity: $opacity;
	--content-width: $content-width;
	--content-wide: calc(var(--content-width) + 30rem);

	/* Fluid font = calc(minPX + (max - min) * ((100vw - sm-mqPX) / (xlMQ - sm-mq))) */
	--fluid-font: calc(
		var(--min-font-size) + (1.125 - 0.95) * ((100vw - 21em) / (90 - 21))
	);
	--min-font-size: 0.95rem;
	--max-font-size: 1.125rem;

	--h0: $h0;
	--h1: $h1;
	--h2: $h2;
	--h3: $h3;
	--h4: $h4;
	--h5: $h5;
	--h6: $h6;

	--space-05: 0.5rem;
	--space-1: 1rem;
	--space-15: 1.5rem;
	--space-2: 2rem;
	--space-25: 2.5rem;
	--space-3: 3rem;
	--space-4: 4rem;
	--space-5: 5rem;
	--gutter-half: calc(var(--base-space) * 0.5);
	--gutter-mobile: var(--space-1);

	--color-frost-1: $color-frost-1;
	--color-frost-2: $color-frost-2;
	--color-frost-3: $color-frost-3;
	--color-frost-4: $color-frost-4;
	--color-shade-1: $color-shade-1;
	--color-shade-2: $color-shade-2;
	--color-shade-3: $color-shade-3;
	--color-shade-4: $color-shade-4;
	--color-tint-1: $color-tint-1;
	--color-tint-2: $color-tint-2;
	--color-tint-3: $color-tint-3;
	--color-tint-4: $color-tint-4;

	--timing: $base-timing;
	--timing-open: $timing-open;
	--timing-close: $timing-close;
	--ease: $base-ease;
	--ease-enter: $ease-enter;
	--ease-exit: $ease-exit;
}
