/* global vars */
:root {
	/* Fluid font = calc(minPX + (max - min) * ((100vw - sm-mqPX) / (xlMQ - sm-mq))) */
	--fluid-font: calc(
		var(--min-font-size) + (1.125 - 0.95) * ((100vw - 21rem) / (90 - 21))
	);
	--min-font-size: 0.95rem;
	--max-font-size: 1.125rem;

	--opacity: 0.7;
	--root-color: $root-color;
	--root-font-family: $root-font-family;
	--paragraph-width: 64rem;
	--container: 70rem;
	--container-wide: 80rem;
	--h0: $h0;
	--h1: $h1;
	--h2: $h2;
	--h3: $h3;
	--h4: $h4;
	--h5: $h5;
	--h6: $h6;
	--space-05: 0.5rem;
	--space-1: 1rem;
	--space-15: 1.5rem;
	--space-2: 2rem;
	--space-25: 2.5rem;
	--space-3: 3rem;
	--space-4: 4rem;
	--space-5: 5rem;
	--gutter: var(--base-space);
	--gutter-half: 0.75rem;
	--gutter-mobile: var(--space-1);
	--base-space: var(--space-15);
	--color-1: $blue5;
	--color-1-light: $blue3;
	--color-1-dark: $blue7;
	--color-2: $teal5;
	--color-2-light: $teal3;
	--color-2-dark: $teal7;
	--transition-time: 0.16s;
	--transition-time-out: 0.2s;
	--animation-curve: cubic-bezier(0.4, 0, 1, 1);
	--animation-curve-out: cubic-bezier(0, 0, 0.2, 1);
}
