/* #GRID
\* ------------------------------------ */

.o-grid {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-around;
}

.o-cell {
	min-width: 300px;
	max-width: calc(33.33333% - var(--base-space));
	margin-left: calc(var(--base-space) * 0.5);
	margin-right: calc(var(--base-space) * 0.5);
	margin-bottom: var(--base-space);
}

/* @supports (display: grid) {
	.o-grid {
		display: grid;
		margin: 0;
		grid-gap: 24px;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.o-cell {
		width: auto;
		grid-column-end: span 4;
		margin: 0;
	}
} */
