/* #GRID
\* ------------------------------------ */

.o-grid {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

.o-cell {
	margin: 0 calc(0.5 * var(--gutter-mobile)) calc(0.5 * var(--gutter));
}

@media (--md) {
	.o-cell {
		margin: 0 calc(0.5 * var(--gutter)) var(--gutter);
	}
}
