/* #GRID
\* ------------------------------------ */

.o-grid {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

.o-cell {
	margin: 0 calc(0.5 * $gutter-mobile) calc(0.5 * $gutter);
}

@media (--md) {
	.o-cell {
		margin: 0 calc(0.5 * $gutter) $gutter;
	}
}
