/* #GRID
\* ------------------------------------ */

.o-grid {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

.o-cell {
	width: calc(33.33333% - var(--gutter));
	margin-left: calc(var(--gutter) / 2);
	margin-right: calc(var(--gutter) / 2);
	margin-bottom: var(--gutter);
}

@supports (display: grid) {
	.o-grid {
		display: grid;
		margin: 0;
		grid-gap: 24px;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.o-cell {
		width: auto;
		grid-column-end: span 4;
		margin: 0;
	}
}
