.v-icon {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

svg[stroke-width] {
	fill: transparent;
	stroke: currentColor;
}

.icon-line {
	width: 1em;
	height: 1em;
	fill: none;
	stroke: currentcolor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6.25%;
}

.icon-solid {
	width: 1em;
	height: 1em;
	fill: none;
	stroke: currentcolor;
}

.entry-title .doc-icon {
	margin-left: auto;
}

.o-cell > .v-icon {
	width: 100%;
	height: auto;
	max-width: 50%;
}

.icon-sm {
	line-height: 1;
	margin: 0;
}

.icon-md {
	width: 100%;
	max-width: 90px;
	max-height: 90px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-lg {
	width: 100%;
	max-width: 210px;
	max-height: 210px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-xl {
	width: 100%;
	max-width: 310px;
	max-height: 310px;

	svg {
		height: auto;
		width: 100%;
	}
}
