.side-nav {
	pointer-events: none;
}

.side-nav--animatable {
	z-index: 1;
}

.side-nav--visible {
	pointer-events: auto;
	z-index: 2;
}

.side-nav::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--color-tint-3);
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav__container {
	width: 80%;
	max-width: 25rem;
	transform: translateX(-102%);
	will-change: transform;
}

.side-nav--animatable .side-nav__container {
	transition: transform 0.13s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
	transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav--visible::before {
	opacity: 1;
}

.side-nav--visible .side-nav__container {
	transform: none;
}

.side-nav__header {
	.search-form {
		margin: 0 0.5rem 1rem;
		width: 100%;
	}

	input[type="search"].search-field {
		width: 100%;
		background-color: #fff;
	}
}

.side-nav__content {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.side-nav__content {
	.widget {
		background-color: transparent;
		padding: 0 1rem;
	}

	.widget_nav_menu {
		padding-left: 0;
		padding-right: 0;
	}

	.menu__link {
		display: block;
		padding: 0.7em 1rem;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.side-nav:not(.side-nav--visible) {
	max-width: 0;
}

.tile {
	position: relative;
}
