/* #SHADOWS
\*------------------------------------ */

.u-shadow1 {
	box-shadow: var(--shadow-1);
}

.u-shadow2 {
	box-shadow: var(--shadow-2);
}

.u-shadow3 {
	box-shadow: var(--shadow-3);
}

.u-shadow4 {
	box-shadow: var(--shadow-4);
}

.u-shadow5 {
	box-shadow: var(--shadow-5);
}

.u-shadow0 {
	box-shadow: none !important;
}
