/* -------------------------------------------------------------
# Forms
-------------------------------------------------------------- */

form {
	margin-bottom: var(--base-space);
}

input:not([type="button"]):not([type="reset"]):not([type="submit"]),
select,
textarea {
	max-width: 100%;
	border-radius: var(--border-radius);
	padding: 0.5em 0.625em;
	border-width: 0;
	line-height: 1.5;
	background-color: var(--form-element-background-color);
	color: var(--color-text);
	//margin: 0;
	vertical-align: baseline;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	box-shadow: inset 0 0 0 0.063rem var(--form-element-background-color);
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: color, background-color, box-shadow;

	&:focus {
		outline: 0;
		background-color: color(#fff a(95%));
		transition-duration: var(--transition-time-out);
		transition-timing-function: var(--animation-curve-out);
		box-shadow: inset 0 0 0 0.063rem var(--color-links-hover) !important;
	}
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: var(--form-element-min-height);
}

input[aria-invalid=true],
select[aria-invalid=true],
textarea[aria-invalid=true] {
	box-shadow: inset 0 0 0 0.063rem var(--red5) !important;
}

legend {
	font-size: 1.25rem;
	font-weight: 700;
}

textarea {
	display: block;
	width: 100%;
	resize: vertical;
}

label {
	font-size: 0.875rem;
	font-weight: 700;
	display: block;
	margin: 0.15rem;
}

input[type=checkbox],
input[type=radio] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 var(--space-1) 0 0;
}

input[type="number"] {
	width: auto; /* Firefox 36+ */
}

select {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23495057' viewBox='0 0 24 24'%3E%3Cpath d='M3.5 7.5l9 9 9-9z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 1em;
	background-position: calc(100% - 0.625em), center;
	padding-right: 2rem !important;
	-moz-appearance: none; /* Firefox 40+ */
	-webkit-appearance: none; /* Chrome 45+ */

	&::-ms-expand {
		display: none; /* Edge 12+, Internet Explorer 11- */
	}

	&::-ms-value {
		color: currentColor; /* Edge 12+, Internet Explorer 11- */
	}
}

input[type=search] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23495057' viewBox='0 0 24 24'%3E%3Cpath d='M21 19l-5.154-5.154C16.574 12.742 17 11.42 17 10c0-3.866-3.134-7-7-7s-7 3.134-7 7 3.134 7 7 7c1.42 0 2.742-.426 3.846-1.154L19 21l2-2zM5 10c0-2.757 2.243-5 5-5s5 2.243 5 5-2.243 5-5 5-5-2.243-5-5z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 1.5rem;
	background-position: calc(100% - 0.625em), center;
	padding-right: 2rem !important;
}

.search-form .search-submit {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	min-height: 0;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input[value=Other]:not(:focus) {
	color: var(--color-grey-ui);
}

[class*="u-bg-"]:not(.u-bg-white) {
	input:not([type="button"]):not([type="reset"]):not([type="submit"]),
	select,
	textarea {
		background-color: var(--color-frost-4);

		&:focus {
			background-color: color(#fff a(95%));
		}
	}
}

input:disabled,
input[readonly],
select:disabled,
textarea:disabled,
textarea[readonly],
input[readonly]:focus,
textarea[readonly]:focus {
	pointer-events: none;
	border-color: transparent !important;
	background-color: var(--form-element-background-color) !important;
	cursor: default;
	opacity: 0.5;
}
