/* #Global
\*------------------------------------ */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
	border-style: solid;
	border-width: 0;
	background-repeat: no-repeat; /* 1 */
	box-sizing: border-box; /* 2 */
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Use the default user interface font in all browsers (opinionated).
  * 3. Correct the line height in all browsers.
  * 4. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 5. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
	cursor: default; /* 1 */
	font-family: var(--font-family); /* 2 */
	line-height: var(--line-height); /* 3 */
	-ms-text-size-adjust: 100%; /* 4 */
	-webkit-text-size-adjust: 100%; /* 4 */
	overflow-wrap: break-word; /* 5 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: inherit;
	color: var(--color-text);
	background-color: #fff;
}

article,
aside,
footer,
header,
main,
nav,
section {
	text-align: initial;
	display: block;
}
