/* #IMAGES
\*------------------------------------ */

/* specify the alignment of media elements */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
	max-width: 100%;
}

img {
	height: auto;
}

svg {
	max-height: 100%;
}

a > img {
	transition: inherit;
	backface-visibility: hidden;
}

a:hover > img {
	opacity: var(--opacity);
}
