/* #IMAGES
\*------------------------------------ */

/* specify the alignment of media elements */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
	max-width: 100%;
}

img {
	height: auto;
	border-style: none;
}

a > img {
	transition: inherit;
	backface-visibility: hidden;
}

svg {
	overflow: hidden;
	max-height: 100%;
	fill: currentColor;
}

figure {
	display: inline-block;
	margin: 0 0 1rem;
}

figure img {
	margin-bottom: 0.5rem;
	line-height: 1;
}

figcaption {
	display: block;
	font-size: 90%;
	color: #6c757d;
}
