body {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

header {
	width: 100%;
}

main {
	text-align: center;
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: var(--base-space);
}

article {
	margin-bottom: var(--base-space);
}

body > header {
	background-color: #fff;
	display: flex;
	font-size: $h6;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.5rem;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

body > footer {
	margin-top: auto;
}

body > footer > aside {
	max-width: var(--content-wide);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: var(--base-space);
	padding-bottom: var(--base-space);
}
