body {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

body > header {
	background-color: #fff;
	padding: 0 $base-space;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: $base-space;
}

main {
	text-align: center;
	display: block;
	width: 100%;
	padding: 1rem 0;
	margin-right: auto;
	margin-left: auto;
}

@media (--lg) {
	main {
		max-width: 90%;
	}
}

@media (--xl) {
	main {
		max-width: 80%;
	}
}

article {
	text-align: left;
	padding: $base-space $space-1;
	margin-bottom: $space-2;
}

body > aside {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: auto;
}

body > aside:last-of-type {
	flex-direction: row;
	margin-top: auto;
}
