/* #LISTS
\*------------------------------------ */

ul,
ol,
dl {
	list-style: none;
	margin-top: 0;
	margin-bottom: 1rem;
}

article ul,
article ol,
article dl {
	list-style: initial;
}

article li {
	margin-left: 1rem;
	margin-bottom: 0.25rem;
}

section ol,
section ul,
nav ol,
nav ul {
	padding: 0;
	margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol,
ul:last-child {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

dfn {
	font-style: italic;
}

/*
 * Add the correct display in Edge and IE.
 */

details {
	display: block;
}

summary {
	display: list-item;
	font-weight: bolder;
}

details[open] summary {
	margin-bottom: 0.5em;
}
