/* #NAV
\*------------------------------------ */

nav li {
	flex: 1 auto;
	position: relative;
	margin: 0;
}

nav a {
	display: block;
	padding: 0.5rem 1rem;

	&:hover,
	&:focus {
		@extend button:hover;
	}
}

header nav > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

nav li > ul {
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 99999;
	width: 100%;
}

nav li:not(:hover) > ul {
	top: 100%;
	left: -999em;
	max-height: 0;
	overflow: hidden;
}

:root a[href="#main"] {
	border: 0;
	background-color: $color-frost-4;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;

	&:active,
	&:focus {
		top: 0.5rem;
		left: 0.5rem;
		clip: auto;
		height: auto;
		margin: 0;
		padding: 0.5rem;
		box-shadow: $shadow-3;
		overflow: visible;
		width: auto;
		white-space: inherit;
		z-index: 100000;
	}
}
