/* #BLOCKQUOTE
\*------------------------------------ */

blockquote {
	padding: $space-1;
	font-size: $h5;
	text-align: center;
	margin: 0 0 1rem;
}

cite {
	text-align: right;
	width: 100%;
	display: inline-block;
	font-family: $root-font-family;
}

blockquote cite {
	font-size: $h6;
	font-style: italic;
}
