/* #BLOCKQUOTE
\*------------------------------------ */

blockquote {
	padding: $space-1;
	font-size: $h5;
	border-left: 4px solid var(--color-1);
}

cite {
	width: 100%;
	display: inline-block;
	font-family: $root-font-family;
}

blockquote cite {
	font-size: $h6;
	font-style: italic;
}
