/* #TABLES
\*------------------------------------ */

table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: var(--space-1) 0;
	line-height: inherit;
}

th {
	text-align: left;
	font-weight: var(--font-bold);
	vertical-align: bottom;
	border-bottom: 0.063rem solid var(--color-grey-ui);
}

td {
	vertical-align: middle;
	border-bottom: 0.063rem solid var(--color-grey-ui-light);
}

td > ul {
	list-style: none;
}

tr:last-child td {
	border-bottom: 0;
}
