/* #TABLES
\*------------------------------------ */

table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: var(--gutter);
	text-align: left;
}

td,
th {
	vertical-align: middle;
	padding: 0.5rem;
	border-top: 1px solid var(--color-grey-ui-light);
}

thead th {
	text-align: left;
	font-weight: var(--font-bold);
	border-top: none;
}

td > ul {
	list-style: none;
}

thead {
	font-weight: var(--font-bold);
	vertical-align: bottom;
	border-bottom: 2px solid var(--color-grey-ui);
}

tfoot {
	font-weight: var(--font-bold);
	border-top: 2px solid var(--color-grey-ui);
}

span.sorting-indicator {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bdc4c9' viewBox='0 0 24 24'%3E%3Cpath d='M7 10.385L12.25 5l5.25 5.385zm0 3.23L12.25 19l5.25-5.385z'/%3E%3C/svg%3E");
	width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}
