/* #TYPOGRAPHY
\*------------------------------------ */

html {
	font-size: var(--min-font-size);
}

@media (--sm) {
	html {
		font-size: var(--fluid-font);
	}
}

@media (--xl) {
	html {
		font-size: var(--max-font-size);
	}
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: var(--h2);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

h6 {
	font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	line-height: var(--heading-line-height);
	margin: 0.5em 0;

	& > a {
		color: inherit;
		font-weight: inherit;
	}
}

article * + h1,
article * + h2,
article h3,
article h4,
article h5,
article h6 {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/* h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class] {
	margin: 0;
} */

abbr[title],
abbr[data-original-title] {
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 1rem 0;
	border: 0;
	border-top: 1px solid currentColor;
	opacity: 0.4;
}

template {
	display: none;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
