/* #BORDERS
\*------------------------------------ */

.u-border {
	border-width: 0.063rem;
	border-style: solid;
	border-color: currentColor;
}

.u-border-t {
	border-top-width: 0.063rem;
}

.u-border-r {
	border-right-width: 0.063rem;
}

.u-border-b {
	border-bottom-width: 0.063rem;
}

.u-border-l {
	border-left-width: 0.063rem;
}

.u-border0 {
	border: 0;
}

.u-br {
	border-radius: $border-radius;
}

.u-br0 {
	border-radius: 0;
}

.u-round {
	border-radius: 50%;
}

.u-br-t {
	border-radius: $border-radius $border-radius 0 0;
}

.u-br-r {
	border-radius: 0 $border-radius $border-radius 0;
}

.u-br-b {
	border-radius: 0 0 $border-radius $border-radius;
}

.u-br-l {
	border-radius: $border-radius 0 0 $border-radius;
}
