/* #COLORS
\*------------------ */

/* Text Colors */
.u-text-color.u-text-color {
	color: var(--root-color);
}

.u-text-black {
	color: var(--black);
}

.u-text-grey {
	color: var(--color-grey-ui);
}

.u-text-grey-sub {
	color: var(--color-text-light);
}

.u-text-silver {
	color: var(--silver);
}

.u-text-white {
	color: var(--white);
}

.u-text-muted {
	color: var(--color-tint-3);
}

.u-text-1 {
	color: var(--color-1);
}

.u-text-2 {
	color: var(--color-2);
}

.u-text-1-dark {
	color: var(--color-1-dark);
}

.u-text-2-dark {
	color: var(--color-2-dark);
}

/* Background Colors */
.u-bg-1 {
	background-color: var(--color-1);
}

.u-bg-2 {
	background-color: var(--color-2);
}

.u-bg-1-light {
	background-color: var(--color-1-light);
}

.u-bg-2-light {
	background-color: var(--color-2-light);
}

.u-bg-1-dark {
	background-color: var(--color-1-dark);
}

.u-bg-2-dark {
	background-color: var(--color-2-dark);
}

.u-bg-black {
	background-color: var(--black);
}

.u-bg-grey {
	background-color: var(--color-grey-ui);
}

.u-bg-silver {
	background-color: var(--silver);
	color: var(--root-color);
}

.u-bg-white {
	background-color: var(--white);
	color: var(--root-color);
}

/* Border Colors */
.u-b-1 {
	border-color: var(--color-1);
}

.u-b-2 {
	border-color: var(--color-2);
}

.u-b-1-light {
	border-color: var(--color-1-light);
}

.u-b-2-light {
	border-color: var(--color-2-light);
}

.u-b-1-dark {
	border-color: var(--color-1-dark);
}

.u-b-2-dark {
	border-color: var(--color-2-dark);
}

.u-b-black {
	border-color: var(--black);
}

.u-b-grey {
	border-color: var(--color-grey-ui);
}

.u-b-silver {
	border-color: var(--color-grey-ui-light);
}

/* Alerts */
.u-bg-info {
	background-color: var(--color-info-light);
	color: var(--color-info-dark);
	border-color: color(var(--color-info-dark) a(0.3));
}

.u-bg-success {
	background-color: var(--color-success-light);
	color: var(--color-success-dark);
	border-color: color(var(--color-success-dark) a(0.3));
}

.u-bg-warning {
	background-color: var(--color-warning-light);
	color: var(--color-warning-dark);
	border-color: color(var(--color-warning-dark) a(0.3));
}

.u-bg-transparent {
	background-color: transparent;
}

.u-bg-frost-1 {
	background-color: var(--color-frost-1);
}

.u-bg-frost-2 {
	background-color: var(--color-frost-2);
}

.u-bg-frost-3.u-bg-frost-3 {
	background-color: var(--color-frost-3);
}

.u-bg-frost-4.u-bg-frost-4 {
	background-color: var(--color-frost-4);
}

.u-bg-tint-1 {
	background-color: var(--color-tint-1);
}

.u-bg-tint-2 {
	background-color: var(--color-tint-2);
}

.u-bg-tint-3 {
	background-color: var(--color-tint-3);
}

.u-bg-tint-4 {
	background-color: var(--color-tint-4);
}

.u-bg-mask {
	background-color: var(--color-tint-3);
}

.u-bg-1-glass {
	background-color: color(var(--color-1) a(0.96));
}

.u-bg-2-glass {
	background-color: color(var(--color-2) a(0.96));
}

.u-bg-1-glass-light {
	background-color: color(var(--color-1-light) a(0.96));
}

.u-bg-2-glass-light {
	background-color: color(var(--color-2-light) a(0.96));
}

.u-bg-1-glass-dark {
	background-color: color(var(--color-1-dark) a(0.96));
}

.u-bg-2-glass-dark {
	background-color: color(var(--color-2-dark) a(0.96));
}

.u-hover-white.u-hover-white:hover {
	background-color: var(--white);
}

.u-hover-frost.u-hover-frost:hover {
	background-color: var(--color-frost-2);
}

.u-hover-tint:hover {
	background-color: var(--color-tint-2);
}

/* Fill Colors */
.u-fill-1 {
	fill: var(--color-1);
}

.u-fill-2 {
	fill: var(--color-2);
}

.u-fill-1-light {
	background-color: var(--color-1-light);
}

.u-fill-2-light {
	background-color: var(--color-2-light);
}

.u-fill-1-dark {
	background-color: var(--color-1-dark);
}

.u-fill-2-dark {
	background-color: var(--color-2-dark);
}
