/* #UTILITY LAYOUT
\*------------------------------------ */

.u-content-wrap > * {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
}

.u-inline {
	display: inline;
}

.u-block {
	display: block;
}

.u-inline-block {
	display: inline-block;
}

.u-table {
	display: table;
}

.u-table-cell {
	display: table-cell;
}

.u-none {
	display: none;
}

.u-vh100 {
	height: 100vh;
}

.u-height100 {
	height: 100%;
}

.u-vh100-min {
	min-height: 100vh;
}

.u-vw100 {
	height: 100vw;
}

.u-align-baseline {
	vertical-align: baseline;
}

.u-align-top {
	vertical-align: top;
}

.u-align-middle {
	vertical-align: middle;
}

.u-align-bottom {
	vertical-align: bottom;
}

.u-overflow-hidden {
	overflow: hidden;
}

.u-overflow-visible {
	overflow: visible;
}

.u-overflow-scroll {
	overflow: scroll;
}

.u-overflow-auto {
	overflow: auto;
}

.u-hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.u-nowrap {
	white-space: nowrap;
}

.u-rel {
	position: relative;
}

.u-abs {
	position: absolute;
}

.u-fixed,
.u-fix {
	position: fixed;
}

.u-static {
	position: static;
}

.u-top0 {
	top: 0;
}

.u-right0 {
	right: 0;
}

.u-bottom0 {
	bottom: 0;
}

.u-left0 {
	left: 0;
}

.u-z0 {
	z-index: 0;
}

.u-z1 {
	z-index: 1;
}

.u-z2 {
	z-index: 2;
}

.u-z3 {
	z-index: 3;
}

.u-z4 {
	z-index: 4;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-fit {
	max-width: 100%;
}

.u-invisible {
	visibility: hidden;
}

.u-visible {
	visibility: visible;
}

@media (--md) {
	.u-relative-md {
		position: relative;
	}

	.u-absolute-md {
		position: absolute;
	}

	.u-fixed-md {
		position: fixed;
	}

	.u-static-md {
		position: static;
	}

	.u-left-md {
		float: left;
	}

	.u-right-md {
		float: right;
	}
}

.shadow-hover {
	overflow: visible;
}

.shadow-hover::after {
	content: "";
	border-radius: var(--border-radius);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: opacity;
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px currentColor;
}

.shadow-hover:hover::after {
	opacity: 1;
}

.opacity-hover {
	opacity: 1;
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: opacity;
}

.opacity-hover:hover {
	opacity: var(--opacity);
}
